<div class="dasbord-page">
	<h1>DASHBORD</h1>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class=" ">Title</th>
				<th class=" ">Login</th>
				<th class=" ">Password</th>
				<th class=" ">Details</th>
			</tr>
		</thead>
		<tbody id="item-table">
		</tbody>
		
		<!---->
	</table>
</div>
<div class="row">
			<div class="form-group col-md-3">
				<label class="sr-only " for="exampleInputEmail3">Title</label>
				<input type="email" class="form-control " id="title" placeholder="text">
			</div>
			<div class="form-group col-md-3">
				<label class="sr-only" for="exampleInputEmail3">Login</label>
				<input type="email" class="form-control" id="login" placeholder="text">
			</div>
			<div class="form-group col-md-2">
				<label class="sr-only" for="exampleInputPassword3">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password">
			</div>
			<div class="form-group  col-md-3">
				<label class="sr-only" for="exampleInputEmail3">Details</label>
				<input type="email" class="form-control" id="details" placeholder="text">
			</div>
			<button id="create" class="btn btn-default col-md-1">Create</button>
		</div>
</div>